# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
/*
!.gitignore
!README.md
!readme.txt
!/assets
!/build
!/src
!/vendor
!woocommerce-gutenberg-products-block.php
.editorconfig
.env
.env.orig
.eslintignore
.eslintrc.js
.gitattributes
.github/CODE_OF_CONDUCT.md
.github/CODEOWNERS
.github/CONTRIBUTING.md
.github/ISSUE_TEMPLATE/---bug-report.md
.github/ISSUE_TEMPLATE/--feature-request.md
.github/ISSUE_TEMPLATE/--support-question.md
.github/pull_request_template.md
.github/SECURITY.md
.github/workflows/bundle-size.yml
.nvmrc
.prettierrc
.sources/block-previews.sketch
.sources/handles.sketch
.stylelintrc.json
.travis.yml
babel.config.js
bin/build-plugin-zip.sh
bin/changelog/common/get-entry.js
bin/changelog/common/index.js
bin/changelog/config.js
bin/changelog/github/index.js
bin/changelog/github/make-change-log.js
bin/changelog/github/requests.js
bin/changelog/index.js
bin/changelog/README.md
bin/changelog/zenhub/index.js
bin/changelog/zenhub/make-change-log.js
bin/changelog/zenhub/requests.js
bin/development-check.sh
bin/docker/wordpress/Dockerfile
bin/docker/wp-cli/cli-entrypoint.sh
bin/docker/wp-cli/Dockerfile
bin/docker/wp-cli/entrypoint.orig.sh
bin/docker/wp-cli/entrypoint.sh
bin/docker/wp-cli/wait-for-it.sh
bin/eslint-plugin-woocommerce/index.js
bin/eslint-plugin-woocommerce/package.json
bin/eslint-plugin-woocommerce/rules/__tests__/dependency-group.js
bin/eslint-plugin-woocommerce/rules/__tests__/feature-flag.js
bin/eslint-plugin-woocommerce/rules/dependency-group.js
bin/eslint-plugin-woocommerce/rules/feature-flag.js
bin/eslint-plugin-woocommerce/rules/index.js
bin/fallback-module-directory-webpack-plugin.js
bin/github-deploy.sh
bin/merge-extract-files-webpack-plugin.js
bin/version-changes.sh
bin/webpack-helpers.js
bin/wordpress-deploy.sh
composer.json
composer.lock
config/php.conf.ini
docker-compose.orig.yml
docker-compose.yml
docs/block-client-apis/checkout/checkout-api.md
docs/block-client-apis/README.md
docs/contributors/block-assets.md
docs/contributors/coding-guidelines.md
docs/contributors/getting-started.md
docs/contributors/javascript-testing.md
docs/contributors/smoke-testing.md
docs/contributors/storybook.md
docs/extensibility/checkout-flow-and-events.md
docs/extensibility/payment-method-integration.md
docs/extensibility/README.md
docs/readme.md
docs/releases/readme.md
docs/releases/wordpress-update-testing-checklist.md
docs/testing/cart-checkout/coupons.md
docs/testing/cart-checkout/cross-browser.md
docs/testing/cart-checkout/editor.md
docs/testing/cart-checkout/general-flow.md
docs/testing/cart-checkout/items.md
docs/testing/cart-checkout/payment.md
docs/testing/cart-checkout/readme.md
docs/testing/cart-checkout/shipping.md
docs/testing/cart-checkout/taxes.md
package-lock.json
package.json
phpcs.xml
phpunit.xml.dist
postcss.config.js
README.md
renovate.json
storybook/main.js
storybook/preview.js
storybook/style.scss
storybook/webpack.config.js
tests/bin/docker-entrypoint.sh
tests/bin/Dockerfile
tests/bin/e2e-test-integration.js
tests/bin/install-wp-tests.sh
tests/bootstrap.php
tests/e2e-tests/config/default.json
tests/e2e-tests/config/env.setup.js
tests/e2e-tests/config/jest-custom-sequencer.js
tests/e2e-tests/config/jest-puppeteer.config.js
tests/e2e-tests/config/jest-puppeteer.dev.config.js
tests/e2e-tests/config/jest.config.js
tests/e2e-tests/config/jest.setup.js
tests/e2e-tests/config/test:e2e.json
tests/e2e-tests/specs/backend/__snapshots__/all-products.test.js.snap
tests/e2e-tests/specs/backend/__snapshots__/cart.test.js.snap
tests/e2e-tests/specs/backend/__snapshots__/checkout.test.js.snap
tests/e2e-tests/specs/backend/__snapshots__/product-search.test.js.snap
tests/e2e-tests/specs/backend/all-products.test.js
tests/e2e-tests/specs/backend/cart.test.js
tests/e2e-tests/specs/backend/checkout.test.js
tests/e2e-tests/specs/backend/product-search.test.js
tests/js/jest.config.json
tests/js/jestPreprocess.js
tests/js/setup-globals.js
tests/php/Assets/AssetDataRegistry.php
tests/php/Bootstrap/MainFile.php
tests/php/Domain/Package.php
tests/php/Helpers/TestValidateSchema.php
tests/php/Helpers/ValidateSchema.php
tests/php/Library/DeleteDraftOrders.php
tests/php/mocks/AssetDataRegistry.php
tests/php/mocks/MockTestDependency.php
tests/php/Registry/Container.php
tests/php/RestApi/Controllers/ProductAttributes.php
tests/php/RestApi/Controllers/ProductAttributeTerms.php
tests/php/RestApi/Controllers/ProductCategories.php
tests/php/RestApi/Controllers/Products.php
tests/php/RestApi/Utilities/ProductSummary.php
tests/php/StoreApi/Routes/Cart.php
tests/php/StoreApi/Routes/CartCoupons.php
tests/php/StoreApi/Routes/CartItems.php
tests/php/StoreApi/Routes/ProductAttributes.php
tests/php/StoreApi/Routes/ProductAttributeTerms.php
tests/php/StoreApi/Routes/ProductCollectionData.php
tests/php/StoreApi/Routes/Products.php
tests/php/StoreApi/Utilities/ReserveStock.php
tsconfig.json
webpack.config.js
wp-auto-config.yml
