.wc-block-aow-product {
	&.components-placeholder {
		// Reset the background for the placeholders.
		background-color: rgba(140, 139, 150, 0.1);
	}

	.components-resizable-box__handle {
		z-index: 10;
	}
}
.wc-block-aow-product__message {
	margin-bottom: 16px;
}

.wc-block-aow-product__selection {
	width: 100%;
}
